
@{
    ViewBag.Title = "View";
}

<h2>Music Video</h2>

<div>
    

    <div class="row">
        <div class="col-md-4 vdo-frame-border">
            <fieldset>
                <legend>FAKE LOVE</legend>
                <div class="vdo-youtube"><iframe id="iframe_3" name="iframe_3" width="300" height="200" src="https://www.youtube.com/embed/7C2z4GqqS5E?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
            </fieldset>
        </div>



        <div class="col-md-4 vdo-frame-border">
            <fieldset>
                <legend>DNA</legend>
                <div class="vdo-youtube"><iframe id="iframe_1" name="iframe_1" width="300" height="200" src="https://www.youtube.com/embed/MBdVXkSdhwU?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
            </fieldset>
        </div>

        

        <div class="col-md-4 vdo-frame-border">
            <fieldset>
                <legend>불타오르네</legend>
                <div class="vdo-youtube"><iframe id="iframe_2" name="iframe_2" width="300" height="200" src="https://www.youtube.com/embed/ALj5MKjy2BU?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
            </fieldset>
        </div>



        <div class="col-md-4 vdo-frame-border">
            <fieldset>
                <legend>DOPE : 쩔어</legend>
                <div class="vdo-youtube"><iframe id="iframe_3" name="iframe_3" width="300" height="200" src="https://www.youtube.com/embed/BVwAVbKYYeM?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
            </fieldset>
        </div>

        <div class="col-md-4 vdo-frame-border">
            <fieldset>
                <legend>피 땀 눈물</legend>
                <div class="vdo-youtube"><iframe id="iframe_4" name="iframe_4" width="300" height="200" src="https://www.youtube.com/embed/hmE9f-TEutc?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
            </fieldset>
        </div>

        <div class="col-md-4 vdo-frame-border">
            <fieldset>
                <legend>I NEED YOU</legend>
                <div class="vdo-youtube"><iframe id="iframe_5" name="iframe_5" width="300" height="200" src="https://www.youtube.com/embed/NMdTd9e-LEI?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
            </fieldset>
        </div>




        <div class="col-md-4 vdo-frame-border">
            <fieldset>
                <legend>Not Today</legend>
                <div class="vdo-youtube"><iframe id="iframe_6" name="iframe_6" width="300" height="200" src="https://www.youtube.com/embed/9DwzBICPhdM?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
            </fieldset>
        </div>

        <div class="col-md-4 vdo-frame-border">
            <fieldset>
                <legend>피 땀 눈물</legend>
                <div class="vdo-youtube"><iframe id="iframe_7" name="iframe_7" width="300" height="200" src="https://www.youtube.com/embed/GZjt_sA2eso?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
            </fieldset>
        </div>

        <div class="col-md-4 vdo-frame-border">
            <fieldset>
                <legend>I NEED YOU</legend>
                <div class="vdo-youtube"><iframe id="iframe_8" name="iframe_8" width="300" height="200" src="https://www.youtube.com/embed/bagj78IQ3l0?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
            </fieldset>
        </div>



        <div class="col-md-4 vdo-frame-border">
            <fieldset>
                <legend>Not Today</legend>
                <div class="vdo-youtube"><iframe id="iframe_9" name="iframe_9" width="300" height="200" src="https://www.youtube.com/embed/m8MfJg68oCs?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
            </fieldset>
        </div>


    </div>


        <!--

        <div class="row">
            <div class="col-md-4">
                <fieldset>
                    <legend>DNA</legend>
                    <div class="vdo-youtube"><iframe id="iframe_1" name="iframe_1" width="300" height="200" src="https://www.youtube.com/embed/MBdVXkSdhwU?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
                </fieldset>
            </div>

            <div class="col-md-4">
                <fieldset>
                    <legend>불타오르네</legend>
                    <div class="vdo-youtube"><iframe id="iframe_2" name="iframe_2" width="300" height="200" src="https://www.youtube.com/embed/ALj5MKjy2BU?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
                </fieldset>
            </div>

            <div class="col-md-4">
                <fieldset>
                    <legend>DOPE : 쩔어</legend>
                    <div class="vdo-youtube"><iframe id="iframe_3" name="iframe_3" width="300" height="200" src="https://www.youtube.com/embed/BVwAVbKYYeM?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <fieldset>
                    <legend>피 땀 눈물</legend>
                    <div class="vdo-youtube"><iframe id="iframe_4" name="iframe_4" width="300" height="200" src="https://www.youtube.com/embed/hmE9f-TEutc?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
                </fieldset>
            </div>

            <div class="col-md-4">
                <fieldset>
                    <legend>I NEED YOU</legend>
                    <div class="vdo-youtube"><iframe id="iframe_5" name="iframe_5" width="300" height="200" src="https://youtu.be/NMdTd9e-LEI?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
                </fieldset>
            </div>

            <div class="col-md-4">
                <fieldset>
                    <legend>Not Today</legend>
                    <div class="vdo-youtube"><iframe id="iframe_6" name="iframe_6" width="300" height="200" src="https://youtu.be/9DwzBICPhdM?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
                </fieldset>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <fieldset>
                    <legend>피 땀 눈물</legend>
                    <div class="vdo-youtube"><iframe id="iframe_7" name="iframe_7" width="300" height="200" src="https://youtu.be/GZjt_sA2eso?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
                </fieldset>
            </div>

            <div class="col-md-4">
                <fieldset>
                    <legend>I NEED YOU</legend>
                    <div class="vdo-youtube"><iframe id="iframe_8" name="iframe_8" width="300" height="200" src="https://youtu.be/bagj78IQ3l0?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
                </fieldset>
            </div>

            <div class="col-md-4">
                <fieldset>
                    <legend>Not Today</legend>
                    <div class="vdo-youtube"><iframe id="iframe_9" name="iframe_9" width="300" height="200" src="https://youtu.be/m8MfJg68oCs?rel=0&enablejsapi=1" frameborder="0" allowfullscreen="true"></iframe></div>
                </fieldset>
            </div>
        </div>
            -->
    </div>



@section Scripts{
    
}